<h2>Add Stock</h2>

<form (ngSubmit)="submitForm()">
  <div>
    <label>Company ID:</label>
    <input type="number" [(ngModel)]="stock.companyId" name="companyId" required>
  </div>

  <div>
    <label>Open Value:</label>
    <input type="number" [(ngModel)]="stock.openValue" name="openValue" required>
  </div>

  <div>
    <label>High Value:</label>
    <input type="number" [(ngModel)]="stock.highValue" name="highValue" required>
  </div>

  <div>
    <label>Low Value:</label>
    <input type="number" [(ngModel)]="stock.lowValue" name="lowValue" required>
  </div>

  <div>
    <label>Close Value:</label>
    <input type="number" [(ngModel)]="stock.closeValue" name="closeValue" required>
  </div>

  <div>
    <label>Volume:</label>
    <input type="number" [(ngModel)]="stock.volume" name="volume" required>
  </div>

  <div>
    <label>Date:</label>
    <input type="datetime-local" [(ngModel)]="stock.date" name="date" required>
  </div>

  <button type="submit">Add Stock</button>
</form>
